/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  background: #000000;
  background: linear-gradient(354deg, #137df5 0%, #14b1f8 100%);
  width: 320px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
}

.container_date {
  color: rgb(255, 255, 255);
  margin-top: 16px;
  opacity: 80%;
  font-size: 22px;
  font-weight: 400;
}

.container_city {
  margin-top: 1rem;
  font-size: 37px;
  font-weight: 700;
  color: rgb(255 255 255);
}

.container_degree {
  font-size: 50px;
  font-weight: 800;
  color: white;
  position: relative;
}

.container_img {
  position: relative;
}

.degree_icon {
  font-size: 20px;
}

.country_per {
  position: relative;
  top: 20px;
  color: white;
  font-size: 24px;
}

.input {
  border: none;
  padding: 1rem;
  border-radius: 8px 0 0 8px;
  background: #ffffff;
  box-shadow: 0px 3px 8px #ffffff, -0px 3px 8px #ffffff;
  transition: 0.3s;
  position: relative;
  top: -2px;
}

.input:focus {
  outline-color: #ffffff;
  border-radius: 8px 0 0 8px;
  padding: 1rem;
  /* background: #ffffff;
  box-shadow: inset 20px 20px 60px #e8e8e8, inset -20px -20px 60px #ffffff; */
  transition: 0.3s;
}

/* button */

button {
  color: #090909;
  padding: 0.7em 0.7em;
  font-size: 18px;
  border-radius: 0 8px 8px 0;
  background: #fffcfc;
  cursor: pointer;
  border: 1px solid #fff9f9;
  transition: all 0.3s;
  box-shadow: 0px 3px 8px #ffffff, -0px 3px 8px #ffffff;
}

button:active {
  color: #666;
  box-shadow: 0px 3px 8px #ffffff, -0px 3px 8px #ffffff;
}

.form {
  margin-top: 3rem;
}

.wind_container {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  margin-top: 20px;
}
